/* *** CSS RESET *** */

:focus {outline: 0}
a {outline: none; text-decoration: none;}
a, img {border: 0;}
button {cursor: pointer;}

/* *** GLOBAL *** */

.bx-wrapper {
    z-index: 1;
}

iframe {
    border: none;
}

body h1, body h2, body h3, body h4, body h5, body h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    margin-top: 0;
}

body p {
    margin-bottom: 25px;
    margin-top: 0;    
}

body h2 {
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 0;
}

body ul {
    margin-bottom: 25px;
    padding-left: 16px;
    margin-top: 0;
}

body ol {
    padding-left: 20px;
    margin-bottom: 25px;
    margin-top: 0;
}

body .bx-wrapper {
    padding: 0;
    border: none;
}

body {
    overflow-x: hidden;
}

figure {
    margin: 0;
}

body a:hover {
    text-decoration: none;
}

input, textarea, button {
    font-family: arial;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #575756;
    background: #fff;
    line-height: 1.35;
    min-width: 302px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a, a:hover, a:focus, a:active {
    outline: none !important;
    text-decoration: none;
}

.hamburger, .hamburger:focus, .hamburger:active {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

body .hamburger-inner, body .hamburger-inner::before, body .hamburger-inner::after {
    height: 2px;
}

body .bx-wrapper .bx-controls-auto, body .bx-wrapper .bx-pager {
    position: relative;
    bottom: auto;
    width: auto;
}

.clearer {
    clear: both;
    height: 0;
}

.chosen-container-single .chosen-single div b {
    background: none;
}

.logo, img, a, button {
    -webkit-transition: 0.15s linear;
    -moz-transition: 0.15s linear;
    -ms-transition: 0.15s linear;
    -o-transition: 0.15s linear;
    transition: 0.15s linear;
}

.bx-caption {
    display: none;
}

.bx-wrapper {
    box-shadow: none;
    border: 0;
    margin: 0;
    background:transparent;    
}

.content-box {
    float: left;
    width: 100%;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1260px;
    }
}

/* *** HEADER *** */

header {
    background: #fff;
    z-index: 10;
    float: left;
    width: 100%;
}

.header-box {
    text-align: center;
    float: left;
    width: 100%;
    padding: 20px 0;
}

header .logo {
    float: left;
}

header .logo img {
    float: left;
}

.h-box-left, .h-box-right {
    width: 200px;
}

.h-box-right .dropdown {
    float: right;
}

.h-box-left {
    float: left;
}

.h-box-right {
    float: right;
    margin-top: 32px;
}

.main-menu ul {
    padding: 0;
    margin: 0;
}

.main-menu {
    display: inline-block;
    margin-top: 24px;
    vertical-align: top;
}

.main-menu > ul > li {
    position: relative;
    float: left;
    list-style: none;
    padding: 0 22px;
}

.main-menu > ul > li > a {
    color: #575756;
    padding: 15px 0;
    display: block;
    float: left;
    font-size: 14px;
}

.main-menu > ul > .current > a {
    color: #005DB9;
    font-weight: bold;
    text-decoration: underline;
}

.main-menu > ul > li:hover > a {
    color: #005DB9;
}

.btn-1 {
    color: #005DB9;
    font-size: 14px;
    padding: 5px 0;
    padding-right: 56px;
    display: inline-block;
    background: url('../img/icons/img01.png') right center no-repeat;
    font-weight: bold;
}

.dropdown:hover .btn-1 {
    color: #575756;
}

.btn-1.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    font-size: 14px;
    padding: 8px 10px 5px 10px;
}

.dropdown-item:hover {
    background: #005DB9;
    color: #fff;
}

/* *** ZASADY *** */

.main-content {
    float: left;
    width: 100%;
    padding: 10px 0 50px 0;
    min-height: calc(100vh - 210px);
}

.title {
    text-align: center;
    font-weight: bold;
    color: #005DB9;
    font-size: 32px;
    margin-bottom: 30px;
}

.boxes-1 {
    text-align: center;
    float: left;
    width: 100%;
    margin-bottom: -30px;
}

.box-1 {
    font-size: 15px;
    margin-bottom: 30px;
}

.boxes-1 .col-box {
    width: 182px;
    margin: 0 15px;
    float: none;
    display: inline-block;
    vertical-align: top;
}

.box-1 .number {
    background: #005DB9;
    border-radius: 50%;
    color: #fff;
    width: 105px;
    height: 105px;
    margin: 0 auto;
    margin-bottom: 15px;
    line-height: 107px;
    font-weight: bold;
    font-size: 54px;
}

.box-1 .button-box {
    margin-top: 15px;
}

.box-1 strong {
    color: #005DB9;
}

.btn-2 {
    border-radius: 24px;
    border: 1px solid #005DB9;
    color: #005DB9;
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    height: 47px;
    line-height: 48px;
    font-size: 12px;
    font-weight: 600;
}

.btn-2:hover {
    color: #fff;
    background: #005DB9; 
}

.box-1 .btn-2 {
    width: 100%;
}

.box-1 .txt {
    min-height: 120px;
}

.button-box-1 {
    text-align: center;
    margin-top: 75px;
    float: left;
    width: 100%;
}

.btn-3 {
    border-radius: 24px;
    border: 1px solid #005DB9;
    color: #fff;
    background: #005DB9;
    display: inline-block;
    text-align: center;
    width: 390px;
    max-width: 100%;
    padding: 0 10px;
    height: 47px;
    line-height: 48px;
    font-size: 12px;
    font-weight: 600;
}

.btn-3:hover {
    color: #005DB9; 
    background: #fff; 
}

/* *** FOOTER *** */

footer {
    float: left;
    width: 100%;
    text-align: right;
    padding: 25px 0;
}

/* *** CUSTOM SELECT *** */

.select {
    width: 100%;
    float: left;
}

.select .chosen-container {
    width: 100% !important;
}

.select ul {
    margin: 0 4px 4px 0 !important;
    padding: 0 0 0 4px !important;
}

.select .chosen-search {
    display: none;
}

.select .chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 0 0 0 10px;
    height: 29px;
    border: none;
    border-radius: 0;
    background: #fff;
    border: 1px solid #aaa;
    box-shadow: none;
    color: #000;
    font-size: 14px;  
    text-decoration: none;
    white-space: nowrap;
    line-height: 27px;
}

.select .chosen-drop ul li {
    background-image: none !important;
    height: auto !important;
}

.select .chosen-container-single .chosen-single div {
    width: 32px;
    /*background: url('../img/select-arrow.png') center no-repeat;*/
}

.select .chosen-container .chosen-results li.active-result {
    background: #fff;
    color: #000;
}

.select .chosen-container .chosen-results li:hover {
    background: #ec008d;
    color: #fff;
}

/* *** MENU RSP *** */

.header-rsp {
    top: 0;
    left: 0;
    position: fixed;
    overflow: auto;
    z-index: 101;
    width: 100%;
    padding: 10px 15px;
    height: 70px;
    background: #fff;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
    display: none;
}

.header-rsp .logo-rsp {
    height: 50px;
    width: 140px;
    display: table-cell;
    vertical-align: middle;
}

.header-rsp .logo-rsp img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: -3px;
}

.hamburger {
    position: absolute;
    top: 8px;
    right: 0;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background: #005DB9;
}

.data-rsp {
    position: absolute;
    top: 27px;
    right: 70px;
}

.data-rsp a {
    font-size: 11px;    
}

.menu-rsp {
    width: 100%;
    position: fixed;
    padding-top: 70px;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    float: right;
    height: 100%;
    display: none;      
}

.menu-rsp  .opacity-rsp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    opacity: 0.4;
}

.menu-rsp nav {
    float: left;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.menu-rsp > nav > ul:first-child {
    -webkit-box-shadow: #666 0px 2px 3px;
    -moz-box-shadow: #666 0px 2px 3px;
    box-shadow: #666 0px 2px 3px;
}

.menu-rsp nav ul {
    float: left;
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 2;
    background: #fff;
    padding: 0;
}

.menu-rsp nav li {
    position: relative;
    list-style: none;
    float: left;
    border: none;
    width: 100%;
    height: auto;
    border-top: 1px solid transparent;
}

.menu-rsp nav > ul > li:first-child {
    border-top: none;
}

.menu-rsp nav a {
    line-height: normal;    
    height: auto;
    color: #000;
    font-size: 16px;
    float: left;  
    width: 100%;
    padding: 17px 15px 14px 15px;
}

.menu-rsp nav a:hover {
    background-color: #005DB9;
    color: #fff;
}

.menu-rsp nav ul .li-submenu > a {
    padding-right: 53px;
}

.btn-slide-down {
    width: 40px;
    height: 100%;
    background: #fff;
    border-left: 1px solid transparent;
    position: absolute;
    top: 0;
    font-size: 14px;
    text-align: center;
    color: #000;
    right: 0;
    z-index: 2;
    display: none !important;
    line-height: 52px;
    cursor: pointer;
}

.menu-rsp nav ul ul {
    display: none;
    color: #fff;
}

.btn-slide-down, .menu-rsp nav li {
    border-color: #dfdfdf;
}

.menu-rsp nav ul ul {
    background: #f4f4f4;
}

.menu-rsp nav ul ul ul ul {
    background: #fff;
}

.menu-rsp nav ul ul a {
    padding-left: 30px;
}

.menu-rsp nav ul ul ul a {
    padding-left: 45px;
}

/* *** ZASADY 2 *** */

.title {
    position: relative;
}

.title-button {
    position: absolute;
    top: -6px;
    left: 0;
}

.btn-4 {
    color: #005DB9;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 0 4px 0;
    padding-left: 39px;
    background: url('../img/icons/img02.png') left center no-repeat;
}

.btn-4:hover {
    opacity: 0.9;
    color: #005DB9;
}

.margin-bottom-1 {
    margin-bottom: 50px;
}

.content-box-2 .col-box-1 {
    width: 600px;
    float: left;
}

.content-box-2 .txt-1 {
    font-size: 20px;
    border-bottom: 1px solid #E8E8E8;
    padding: 15px 0 13px 0;
}

.content-box-2 .col-box-1 .txt-1:last-child {
    border-bottom: none;
}

.content-box-2 .col-box-1 strong {
    color: #005DB9;
}

.content-box-2 .col-box-2 {
    float: right;
    background: #005DB9;
    width: 495px;
    border-radius: 16px;
    padding: 0 40px;
    color: #fff;
    text-align: center;
}

.content-box-2 .txt-2 {
    font-size: 20px;
    border-bottom: 1px solid #2a78c5;
    padding: 32px 0 40px 0;
}

.content-box-2 .txt-2:last-child {
    border-bottom: none;
}

.content-box-2 .txt-2-1 {
    font-size: 40px;
    font-weight: bold;
}

/* *** ZASADY 2-1 *** */

.content-box-3 {
    width: 810px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    max-width: 100%;
}

.content-box-3 strong {
    color: #005DB9;
}

.btn-3-1 {
    width: 180px;
}

.content-box-3 .button-box {
    margin-bottom: 25px;
    padding-top: 2px;
}

/* *** NAGRODY *** */

.x-content-box-1 {
    position: relative;
    min-height: 560px;
}

.x-image {
    position: absolute;
    top: 0;
    right: 0;
}

.bg-1 {
    background: url('../img/img01.png') center top no-repeat;
}

header {
    background: none;
}

.content-box-4 {
    width: 450px;
    position: relative;
    font-size: 20px;
}

.content-box-4 strong {
    color: #005DB9;
}

.content-box-4 h2 {
    color: #005DB9;
    font-size: 40px;
    font-weight: bold;
}

.content-box-4 figure {
    position: absolute;
    top: 55px;
    z-index: 2;
    right: -230px;
}

.nav-tabs-1 {
    margin-bottom: 45px;
    width: 900px;
    text-align: left;
}

.nav-tabs-1 ul {
    padding: 0;
    margin: 0;
}

.nav-tabs-1 li {
    display: inline-block;
    vertical-align: top;
    font-size: 32px;
    color: #A8A8A8;
    margin-right: 60px;
    font-weight: bold;
}

.nav-tabs-1 a {
    color: #A8A8A8;
}

.nav-tabs-1 a:hover {
    color: #005DB9;
}

.nav-tabs-1 .current a {
    color: #005DB9;
    text-decoration: underline;
}

.content-box-5 {
    width: 600px;
    position: relative;
    text-align: center;
    font-size: 20px;
}

.content-box-5 .description {
    padding: 0 110px;    
}

.content-box-5 .txt-1 {
    margin-bottom: 25px;
}

.content-box-5 .txt-2 {
    padding: 6px 0 10px 0;
    border-bottom: 1px solid #E8E8E8;
}

.content-box-5 .txt-2-last {
    border-bottom: none;
}

.content-box-5 .txt-2-1 {
    color: #005DB9;
    font-size: 40px;
    font-weight: bold;
}

.content-box-5 .txt-1 strong {
    color: #005DB9;
}

.content-box-5 figure {
    position: absolute;
    top: 320px;
    z-index: 2;
    right: -497px;
}

/* *** RANKING *** */

.content-box-6 {
    width: 600px;
}

.content-box-6 .description h2 {
    color: #575756;
    font-size: 20px;
    font-weight: bold;
}

.content-box-6 .description {
    color: #005DB9;
    text-align: center;
    padding: 0 110px;
    font-size: 14px;
}

.table-box table {
    width: 100%;
}

.table-box table td {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #E8E8E8;
    padding: 27px 5px 10px 5px;
    -webkit-transition: 0.15s linear;
    -moz-transition: 0.15s linear;
    -ms-transition: 0.15s linear;
    -o-transition: 0.15s linear;
    transition: 0.15s linear;
}

.table-box table tr td:nth-child(3) {
    color: #A8A8A8;
}

.table-box table th {
    width: 25%;
    border-bottom: 1px solid #E8E8E8;
    padding: 5px 5px 5px 5px; 
}

.table-box table tr td:last-child, .table-box table tr th:last-child {
    text-align: right;
}

.table-box .arrow-1 {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    padding-right: 16px;
    background: url('../img/icons/img03.png') right center no-repeat;
}

.table-box table .current td, .table-box table tr:hover td {
    color: #005DB9 !important;
}

.table-box {
    padding-right: 40px;    
}

.scroll-pane {
    float: left;
    width: 100%;
    margin-top: 10px;
    max-height: 445px !important;
}

.jspVerticalBar {
    background: #E8E8E8 !important;
    width: 1px !important;
    margin-right: 0 !important;
    right: 5px !important;
}

.jspTrack {
    background: #E8E8E8  !important;    
}

.jspDrag {
    width: 5px !important;
    margin-left: -2.5px !important;
    right :2.5px;
    background: #005DB9 !important;
    -webkit-border-radius: 5px !important; 
    -moz-border-radius: 5px !important; 
    border-radius: 5px !important;   
}

/* *** POJEDYNKI *** */

.content-box-7 {
    width: 600px;
    padding: 0 60px;
    text-align: center;
}

.slider ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.content-box-7 .txt-1 {
    color: #005DB9;
    font-size: 20px;
    margin-bottom: 40px;
}

.content-box-7 .txt-2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content-box-7 .txt-3 .col-box {
    width: 32.3333%;
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
}

.s-nav .month {
    width: 180px;
    height: 31px;
    display: inline-block;
    vertical-align: top;
    background: rgba(0,93,185,0.08);
    border-radius: 16px;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    color: #005DB9;
}

.content-box-7 .txt-3 .col-box-1 {
    font-size: 14px;
    font-weight: bold;
    color: #005DB9;
}

.content-box-7 .txt-3 .col-box-1-gray {
    color: #575756;
}

.content-box-7 .txt-3 .image {
    margin-bottom: 10px;
}

.content-box-7 .txt-3 .col-box-2 {
    font-size: 37px;
    color: #005DB9;
    margin-top: 23px;
    font-weight: 900;
}

.s-nav {
    margin-bottom: 25px;
    position: relative;
}

.content-box-7 .txt-3 {
    margin-bottom: 5px;
}

.content-box-7 .txt-4 {
    font-size: 14px;
    font-weight: bold;
    color: #A8A8A8;
    margin-bottom: 25px;
}

.content-box-7 .txt-4 span {
    color: #005DB9;
}

.content-box-7 .txt-5 {
    font-size: 14px;
    font-weight: bold;
    color: #A8A8A8;
    margin-bottom: 5px;
}

.content-box-7 .txt-5 span {
    color: #005DB9;
    font-size: 37px;
    font-weight: 900;
}

.content-box-7 .txt-6 {
    border-top: 1px solid #E8E8E8;
    color: #CECECE;
    font-size: 13px;
    font-weight: bold;
    padding-top: 20px;
}

.content-box-7 .txt-6-2 {
    font-size: 37px;
    font-weight: 900;
    margin-top: 3px;
}

.color-green {
    color: #ABE22D;
}

.color-red {
    color: #F74242;
}

.slider .bx-controls {
    display: none;
}

.slider img {
    display: inline;
}

.s-nav .prev-box, .s-nav .next-box {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 27px;
    height: 27px;
    z-index: 1000;
    margin: 0 10px;
    margin-top: 2px;
}

.s-nav .bx-prev, .s-nav .bx-next {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    float: left;
    display: block;
    text-indent: -9999999px;
}

.s-nav .bx-prev {
    background: url('../img/icons/img06.png') no-repeat !important;   
}

.s-nav .bx-next {
    background: url('../img/icons/img07.png') no-repeat !important;
}

.s-nav .prev-box:hover, .s-nav .next-box:hover {
    opacity: 0.90;
}

.content-box-7 {
    position: relative;
}

.content-box-7 figure {
    position: absolute;
    top: -60px;
    right: -600px;
    z-index: 2;
}

.content-box-7 figure img {
    max-width: none;
    max-height: none;
}

.content-box-7 .txt-1 {
    z-index: 3;
    position: relative;
}

.content-box-7 .slider {
    z-index: 4;
    position: relative;
}

/* *** MISJE SPECJALNE *** */

.boxes-2 .row-box {
    margin-left: -15px;
    margin-right: -15px;
}

.boxes-2 .col-box {
    width: 28.333%;
    float: left;
    padding: 10px 15px;
    border-left: 1px solid #E8E8E8;
}

.boxes-2 .col-box-1 {
    width: 43%;
}

.boxes-2 .col-box:first-child {
    border-left: none;
}

.content-box-8 {
    width: 700px;
}

.content-box-8 .txt-1 {
    padding: 0 30px;
    text-align: center;
    font-size: 20px;
    color: #005DB9;
    margin-bottom: 40px;
}

.box-2 {
    text-align: center;
}

.box-2 .text {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 14px;
}

.box-2 .text-1 {
    font-weight: bold;
    padding-top: 30px;
    color: #005DB9;
    font-size: 35px;
}

.box-2 .text-1 span {
    display: block;
    font-size: 101px;
    line-height: 0.9;
}

.content-box-8 .text-3 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.content-box-8 .text-4 {
    color: #005DB9;
    margin-bottom: 20px;
    font-size: 14px;
}

.progress-box-1 {
    width: 189px;
    height: 15px;
    margin: 0 auto;
    max-width: 100%;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 2px;
}

.progress-1 {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.progress-1 div {
    height: 100%;
    background: #ABE22D;
    border-radius: 8px;
}

.progress-box-content-1 {
    padding-top: 3px;
}

.s-nav .disabled {
    opacity: 0.2;
}

/* *** KONTAKT *** */

@media only screen and (min-width: 1199px) {
    .title-1 {
        font-size: 38px;
        line-height: 1.2;
    }
}

.content-box-9 {
    width: 390px;
    margin: 0 auto;
    max-width: 100%;
}

.label-box label {
    margin: 0 0 6px 0;
    font-weight: normal;
    color: #A8A8A8;
    font-size: 12px;
}

.input-box {
    margin-bottom: 15px;
}

.input-box input, .input-box textarea {
    height: 47px;
    font-family: 'Nunito', sans-serif;
    padding: 0 15px;
    width: 100%;
    display: block;
    border-radius: 5px;
    background: #F8F8F8;
    border: 1px solid #EAEAEA;
}

.input-box textarea {
    resize: none;
    overflow: auto;
    padding: 10px 15px;
    height: 249px;
}

.width-1 {
    width: 180px;
}

.f-button-box {
    text-align: center;
}

button {
    font-family: 'Nunito', sans-serif;    
}

.f-button-box {
    padding-top: 6px;
}

.content-box-9 {
    position: relative;
}

.content-box-9 figure {
    position: absolute;
    bottom: -40px;
    left: -460px;
}

.content-box-9 figure img {
    max-width: none;
    max-height: none;
}

.form-box {
    position: relative;
    z-index: 1;
}

/* *** ZAREJESTRUJ *** */

.content-box-10 {
    width: 915px;
    margin: 0 auto;
    max-width: 100%;
}

.f-title {
    color: #005DB9;
    font-size: 18px;
    padding: 18px 0 25px 0;
    font-weight: bold;
}

.checkbox-content {
    margin-bottom: 25px;
}

.checkbox-box {
    margin-top: 20px;
}

.checkbox-box label {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 90%;
    width: calc(100% - 85px);
    font-size: 15px;
}

.checkbox-box label a {
    color: #575756;
    text-decoration: underline;
}

.checkbox-box label a:hover {
    color: #005DB9;    
}

.icheckbox {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    margin: 0 20px;
    margin-top: 1px;    
    background: #F8F8F8;
    display: inline-block;
    vertical-align: top;
}

.icheckbox.checked:before {
    content: "";
    top: 9px;
    position: absolute;
    left: 9px;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    background: #005DB9;
    display: block;
}

.icheckbox input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: none;
    left: 0;
    display: block;
}

.icheckbox ins {
    z-index: 2;
}

.legend-box {
    margin-top: 20px;
    padding-left: 76px;
    color: #575756;
    font-size: 15px;
}

/* *** LOGIN *** */

.content-box-11 {
    width: 390px;
    max-width: 100%;
}

.content-box-11 .txt-1 {
    text-align: center;
    font-size: 18px;
    margin: -20px 0 14px 0;
}

.content-box-11 .txt-2 {
    text-align: right;
    margin: -10px 0 15px 0
}

.content-box-11 .btn-3 {
    width: 180px;
}

.z-button-box-1, .z-button-box-2 {
    text-align: center;
}

.btn-3-red {
    background: #F74242;
    border-color: #F74242; 
}

.btn-3-red:hover {
    color: #F74242; 
}

.content-box-11 .txt-2 a {
    color: #A8A8A8;
    font-size: 12px;
    text-decoration: underline;
}

.content-box-11 .txt-2 a:hover {
    color: #000;
}

.content-box-11 .txt-3 {
    margin-bottom: 30px;
    padding-top: 20px;
    border-top: 1px solid #E8E8E8;
    text-align: center;
    color: #575756;
    font-size: 18px;
}

.content-box-11 .txt-3 strong {
    color: #005DB9;
    font-size: 24px;
    display: block;
}

.z-button-box-1 {
    margin-bottom: 35px;
}

.content-box-11 {
    position: relative;
    z-index: 2;
}

.content-box-11 figure {
    position: absolute;
    bottom: -85px;
    right: -950px;
    z-index: 2;
}

.content-box-11 figure img {
    max-width: none;
    max-height: none;
}

/* *** RWD *** */

@media only screen and (max-width: 1199px) {
    .main-menu > ul > li {
        padding: 0 10px;
    }
    .h-box-left, .h-box-right {
        width: 150px;
    }
    .content-box-2 .col-box-1 {
        padding-right: 30px;
        width: 50%;
    }
    .content-box-2 .col-box-2 {
        width: 50%;
    }
    .content-box-2 .txt-1 {
        font-size: 16px;
    }
    .content-box-3 {
        font-size: 16px;
    }
    .content-box-2 .txt-2 {
        font-size: 16px;
    }
    .content-box-2 .txt-2-1 {
        font-size: 35px;
    }
    .title-button {
        position: relative;
    }
    .content-box-2 .col-box-1 .txt-1:first-child {
        padding-top: 0;
    }
    .x-image {
        width: 400px;
    }
    .content-box-4 {
        font-size: 16px;
    }
    .content-box-4 h2 {
        font-size: 30px;
    }
    .x-content-box-1 {
        min-height: 390px;
    }
    .nav-tabs-1 li {
        font-size: 20px;
    }
    .content-box-4 figure {
        width: 250px;
        right: -120px;
    }
    .content-box-5 {
        font-size: 16px;
    }
    .content-box-5 .txt-2-1 {
        font-size: 30px;
    }
    .content-box-5 .description {
        padding: 0;
    }
    .content-box-5 {
        width: 400px;
    }
    .content-box-5 figure {
        width: 300px;
        right: -270px;
        top: 290px;
    }
    .bg-1 {
        background: url(../img/img02.png) right top no-repeat;
    }
    .content-box-6 .description {
        padding: 0;
    }
    .content-box-7 figure {
        width: 350px;
        right: -280px;
        top: 0;
    }
    .content-box-7 figure img {
        max-width: 100%;
        max-height: 100%;
    }
    .content-box-7 {
        padding: 0;
    }
    .box-2 .text {
        font-size: 12px;
    }
    .s-nav-2 .month {
        margin: 3px 0 2px 0;
    }    
    
    .content-box-6, .content-box-7, .content-box-8 {
        width: 500px;
    }
    
    .content-box-11 figure {
        width: 350px;
        right: -550px;
        top: 170px; 
    }
    .content-box-11 figure img {
        max-width: 100%;
        max-height: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .menu-rsp {
        display: none !important;
    }
}

@media only screen and (max-width: 992px) {
    .icheckbox {
        margin-left: 0;
    }
    .legend-box {
        padding-left: 56px;
    }
    .main-menu {
        display: none;
    }
    .main-content {
        padding-top: 15px;
    }
    .header-rsp {
        display: block;
    }
    body {
        padding-top: 70px;
    }
    .h-box-right {
        margin-top: 0;
    }
    .header-box {
        padding: 15px 0;
    }
    header {
        position: relative;
    }
    .logo {
        display: none;
    }
    .search-box {
        width: 100%;
    }
    .header-right-box {
        width: 100%;
    }
    .search {
        width: 100%;
    }
    header .langs-box {
        display: none;
    }
    .banner-full-screen {
        height: calc(100% - 72px);
    }
    .margin-bottom-1 {
        margin-bottom: 25px;
    }
    .bg-1 {
        background: none;
    }
    .nav-tabs-1 li {
        margin-right: 15px;
        font-size: 16px;
    }
    .x-image {
        width: 300px;
    }
    .content-box-5, .content-box-4, .content-box-11 {
        width: 370px;
    }
    .x-content-box-1 {
        min-height: 292px;
    }
    .x-image {
        top: 50%;
        margin-top: -146px;
    }
    .content-box-4 figure {
        width: 138px;
        right: -90px;
    }
    .content-box-5 figure {
        width: 214px;
        right: -154px;
        top: 290px;
    }
    .scroll-pane {
        overflow: auto;
    }
    .content-box-7 figure {
        width: 309px;
        top: 176px;
    }
    .content-box-7 .txt-3 .col-box-2 {
        width: 70px;
    }
    .content-box-7 .txt-3 .col-box-1 {
        width: 39%;
    }
    .content-box-7 .txt-3 .col-box-1 {
        font-size: 13px;
    }
    .boxes-2 .col-box {
        width: 50%;
    }
    .boxes-2 .col-box-1 {
        width: 100%;
    }
    .s-nav-2 .month {
        margin: 0;
    }    
    
    .content-box-6, .content-box-7, .content-box-8 {
        width: 370px;
    }
    .boxes-2 .row-box .col-box:nth-child(2) {
        border-left: none;
    }
    .content-box-11 figure {
        width: 350px;
        right: -392px;
        top: 266px;
    }
}

@media only screen and (max-width: 768px) {
    .boxes-2 .col-box {
        width: 100%;
    }
    .content-box-8 .txt-1 {
        padding: 0;
    }
    footer {
        text-align: center;
    }
    .content-box-2 .txt-2 {
        padding: 25px 0 30px 0;
    }
    .content-box-2 .txt-2-1 {
        font-size: 30px;
    }
    .content-box-2 .col-box-1 {
        width: 100%;
        margin-right: 0;
        padding-right: 0;
        text-align: center;
    }
    .content-box-2 .col-box-2 {
        margin-top: 35px;
        width: 100%;
    }
    .title {
        font-size: 27px;
    }
    .x-image {
        display: none;
    }
    .content-box-5, .content-box-4 {
        width: 100%;
    }
    .content-box-5 figure, .content-box-4 figure, .content-box-7 figure, .content-box-11 figure {
        position: relative;
        margin: 0 auto;
        right: auto;
        top: auto;
        text-align: center;
        padding-top: 20px;
        height: auto;
        width: 100%;
        height: auto;
    }
    .content-box-5 figure img, .content-box-4 figure img, .content-box-7 figure img, .content-box-11 figure img {
        max-width: 300px;
        max-height: 300px;
    }
    .nav-tabs-1 li {
        margin-right: 5px;
        margin-left: 5px;
    }
    .nav-tabs-1 {
        width: 100%;
        text-align: center;
    }
    .content-box-4 {
        text-align: center;
    }
    .content-box-4 h2 {
        font-size: 25px;
    }
    .scroll-pane {
        max-height: none !important;
    }
    .table-box {
        padding-right: 0;
    }   
    .content-box-6, .content-box-7, .content-box-8 {
        width: 100%;
    }
    .content-box-9 figure {
        position: relative;
        bottom: auto;
        margin-top: 40px;
        left: auto;
    }
    .content-box-9 figure img {
        max-width: 100%;
        max-height: 100%;
    }
    .content-box-11 {
        width: 100%;
    }
    .content-box-11 figure {
        bottom: auto;
        margin-top: 30px;
        top: auto;
    }
}

@media only screen and (max-width: 576px) {
    .boxes-1 .col-box {
        width: 100%;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .box-1 .txt {
        min-height: 1px;
    }
    .box-1 .btn-2 {
        width: 182px;
    }
    .content-box-7 .txt-3 .col-box-1, .content-box-7 .txt-3 .col-box-2 {
        width: 100%;
    }
    .content-box-7 .txt-3 .col-box-2 {
        margin: 0;
        padding: 15px 0;
    }
    .s-nav .prev-box, .s-nav .next-box {
        margin-left: 0;
        margin-right: 0;
    }
}
/* *** 02.09 *** */

.aa-content-box table {
    width: 100%;

}

.aa-content-box table th, .aa-content-box table td {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #fff;
    width: 25%;
    color: #575756;
}

.aa-content-box table td {
    background: #f5f5f5;
 
}

.aa-content-box {
    padding: 20px 0;
}

.aa-content-box table  {
    margin-bottom: 20px;
}

.aa-content-box table tr td strong {
    font-size: 20px;
}

.aa-content-box table th {
    background: #005DB9;
    color: #fff;
}

/* *** 09.09 *** */

.f-menu {
    float: left;
}

.f-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.f-menu li {
    float: left;
    margin-right: 20px;
}

.f-menu li a {
    color: #A8A8A8;
}

.f-menu li a:hover {
    color: #005DB9;
}

@media only screen and (max-width: 1600px) {
    .nav-tabs-1 li {
    font-size: 24px;
    }
    .content-box-4 h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .f-menu li {
    font-size: 16px;
    margin: 0;
        width: 100%;
        text-align: center;
    }
    .f-menu {
        margin-bottom: 20px;
        width: 100%;
    }
}
/* cookies */
#cookiesBar a {
    color: #fff;
    text-decoration: underline;
}

#cookiesBar p {
    margin-bottom: 10px;
}

#cookiesBar a:hover {
    color: #fff;
    text-decoration:none;
}


#cookiesBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 15px;
    z-index: 200;
    border-top:1px solid #fff;
    color: #fff;
        background: #222325;
        text-align: center;
        font-size: 14px;
}
#cookiesBar .wrapper-1 {
	width:100%;
}
#cookiesBarWrap {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}